<div class="page-wrapper">
  <div class="browse-container">
    <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchChange()"
      class="search-box"
    />

    <div class="header-card">
        <h5>Name</h5>
        <h5>Brand</h5>
        <h5>Price</h5>
    </div>

    <div class="items-list" (scroll)="onScroll($event)">
      <div *ngFor="let item of items" class="item-card">
        <h4>{{ item.name }}</h4>
        <h4>{{ item.brand.brandName }}</h4>
        <p>${{ item.price }}</p>

        <div class="action" (click)="$event.stopPropagation()">
          <button class="btn btn-outline-dark" (click)="toggleDropdown($event, item)">
              <span class="dots">Add/Remove Item</span>
          </button>
          <div *ngIf="openDropdownId === item.id" class="dropdown-menu" [ngStyle]="getDropdownStyle()">
            <div *ngFor="let wishlist of wishlists" class="dropdown-item">
              <div *ngIf="!isInWishlist(item, wishlist); else inWishlist">
                <button class="btn btn-outline-dark" (click)="onAddToWishlist(wishlist, item)">Add to {{ wishlist.name }}</button>
              </div>
              <ng-template #inWishlist>
                <button class="btn btn-outline-dark" (click)="onRemoveFromWishlist(wishlist, item)">Remove from {{ wishlist.name }}</button>
              </ng-template>
            </div>
          </div>
        </div>

      

        <div class="loader" *ngIf="loading">Loading...</div>
      </div>
    </div>
  </div>
</div>