<nav class="navbar navbar-expand fixed-top clean-nav">
  <div class="container-fluid position-relative">

    <!-- Left title -->
    <span class="navbar-brand nav-title position-absolute start-0 ms-4">Santa’s Wishlist</span>

    <!-- Centered nav -->
    <ul class="navbar-nav mx-auto d-flex flex-row nav-center">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="dashboard">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="addItem">Add Item</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="xmasCountdown">Christmas Countdown</a></li>
    </ul>

  </div>
</nav>
