.clean-nav {
    background-color: white;
    padding: 1rem 0;
}

/* Title on the left */
.nav-title {
    font-family: 'DM Sans';
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
    letter-spacing: -2px;
    margin-left: 1rem;
    margin-top: 3rem;
}

/* Center nav links */
.nav-center .nav-link {
    font-family: 'DM Sans';
    color: black;
    font-weight: 600;
    margin: 0 1rem;
    font-size: .9rem;
    transition: color .75s ease;
}

.nav-center .nav-link:hover {
    color:rgb(150, 150, 150)
}

.btn-logout {
    font-family: 'DM Sans';
    font-weight: 600;
    margin-top: 3rem;
    margin-right: 1rem;
    font-size: .9rem;
    cursor: pointer;
}

/* The translucent pill container */
.floating-nav-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    border-radius: 40px;
    padding: 0.75rem 2.5rem;
    margin-top: 0.5rem;

    z-index: 2000;

    display: flex;
    justify-content: center;
    align-items: center;
}

