<body>
    <div class="title">
        <h1>Countdown to Christmas 2025!</h1>
    </div>
    <div class="countdown">
        <div class="time-box">
            <span>{{ days }}</span>
            <label>Days</label>
        </div>

        <div class="time-box">
            <span>{{ hours }}</span>
            <label>Hours</label>
        </div>

        <div class="time-box">
            <span>{{ minutes }}</span>
            <label>Minutes</label>
        </div>

        <div class="time-box">
            <span>{{ seconds }}</span>
            <label>Seconds</label>
        </div>
    </div>
</body>